/*Typos
Perfume: Monserrat Medium 12pt
Fraunces Bold 32 700
Monserrat Medium 14pt 23 line-height


*/

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #F2EAE2;
}

.main{
    width: 343px;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    margin-inline: auto;
}

@media screen and (width>768px) {
    .main{
        width:600px;
        flex-direction: row;
        margin-top: 175px;
    }
}

.content{
    padding:24px;
}

@media screen and (width>768px) {
    .content{
        padding:32px;
        width: 300px;
    }
}
.product{
    border-radius: 10px 10px 0px 0px;
}

@media screen and (width>768px) {
    .product{
        width:300px;
        border-radius: 10px 0px 0px 10px;
    }
}

.subtitle{
    font-weight:500 ;
    font-size: 12px;
    color:#6C7289 ;
    margin-top: 0px;
    margin-bottom: 12px;
    letter-spacing: 5px;
}

.title{
    font-weight: 700;
    font-family: "Fraunces";
    font-size: 32px;
    color: #1C232B;
    margin-top: 12px;
    margin-bottom: 16px;
}

.text{
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #6C7289;
    margin-top: 16px;
    margin-bottom: 24px;
}

.boxprice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 194px;
    margin-top: 0px;
    height: 32px;
    margin-bottom: 20px;

}
.price{
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 32px;
    color: #3D8168;
    margin-top: 24px;
}

.price2{
    font-family: "Montserrat";
    font-weight:500;
    font-size: 13px;
    color: #6C7289;
    text-decoration: line-through;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: center;
}

.cta{
    width: 295px;
    height: 48px;
    background-color: #3D8168;
    color:#FFF ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
@media screen and (width>768px) {
    .cta{
        width:236px;
    }
}

@media (hover: hover){
    .cta:hover{
        background-color: #1A4032;
        }
}

.buy{
    margin-left: 12px;
    font-size: 14px;
}



